@font-face{
	font-family: "Playfair";
	font-style: normal;
	font-weight: 300;
	src:url("PlayfairDisplay-Regular.ttf");
}
body{
	font-family: serif;
}
h1{
	font-family: "Playfair";
}
h3, p{
	text-align: center;
}
header{
	text-align: center;
	color: #868D9D;
	}
footer{
	text-align: center;
	color: #7887AB;
}
nav{
	text-align: left;
	
}
nav li{
	margin-right: 15px;
	padding: 10px;
	display: inline;
}
nav a:link{
	color: blue;
}
nav a:visited{
	color: purple;
}
nav a:hover{
	font-weight: bold;
}
nav a:active{
	text-decoration: none;
}