a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	background-color: LightCyan;
	
}
td{
	text-align:center;
}
caption{
	font-size: 150%;
	font-weight: bold;
}

table{
	align: center;
	margin: 0px auto;
	border-collapse: collapse;
}
tbody{
	font-style: italic;
	background-color: Moccasin;
}
th{
	border: 1px solid black;
}
li{
	font-style: italic;
}
