body{
	text-align: center;
	font-family: sans-serif;
}
caption{
	text-decoration: underline;
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	color: black;
}
table{
	margin: 0 auto;
	background-color: LightGrey;
}
td{
	text-align: left;
	padding: 15px;
}

#startingBet{
	font-weight: bold;
	background-color: DarkGrey;
}
div{
	background-color: LightGrey;
	display: inline-block;
}
